/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.align-right {
    float: right;
}
.medium-text {
    font-size: medium;
}
.small-text {
    font-size: small;
}
.margin-top-sm {
    margin-top: 10px;
}
.margin-left-sm {
    margin-left: 10px;
}
.width-30px {
    width: 30px;
}
.with-50 {
    width: 50%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 8px 16px;
    margin: 0 5px 10px;
    background-color: #f8f8f8;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}