<block-ui>
    <h2 class="section-title">Where do you want to go today?</h2>
    <form class="search-container" [formGroup]="form" (submit)="submit(form)">
        <mat-form-field class="input-align">
            <input type="text" placeholder="From *" matInput formControlName="departure" [matAutocomplete]="auto" id="departure" data-testid="departure">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of cities" [value]="city.name">
                    {{city.name}} - {{city.short}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="input-align">
            <input type="text" placeholder="To *" matInput formControlName="destination" [matAutocomplete]="auto" id="arrival" data-testid="arrival">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of cities" [value]="city.name">
                    {{city.name}} - {{city.short}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill" class="datepicker-align">
            <mat-label>Departure date *</mat-label>
            <input matInput [min]="minDepartureDate" [max]="maxDepartureDate" [matDatepicker]="departurePicker" id="departure-datepicker"
                formControlName="departureDate"  data-testid="departure-date">
            <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
            <mat-datepicker #departurePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="datepicker-align">
            <mat-label>Return date</mat-label>
            <input matInput [min]="minReturnDate" [matDatepicker]="returnPicker" formControlName="returnDate" id="return-datepicker"  data-testid="return-date">
            <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
            <mat-datepicker #returnPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Travel class *</mat-label>
            <mat-select formControlName="class" id="travel-class" data-testid="travel-class">
                <mat-option *ngFor="let class of classes" [value]="class">
                    {{class}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" type="submit" [disabled]="!form.valid" id="search-button" data-testid="search">
            <mat-icon>search</mat-icon>
        </button>
    </form>
    <div class="flight-container">
        <div *ngFor="let resourceFlight of resourceFlights" class="card">
            <h2><span class="departure">{{resourceFlight.departure.name}}</span> -> <span class="destination">{{resourceFlight.destination.name}}</span></h2>
            <h3><span class="departure-time">{{ resourceFlight.departureTime | date: 'yyyy-MM-dd, h:mm a' }}</span> ->
                <span class="arrival-time">{{ resourceFlight.arrivalTime | date: 'yyyy-MM-dd, h:mm a' }}</span></h3>
            <p>Travelling time <span class="travel-time">{{resourceFlight.duration}}</span></p>
            <p><span class="travel-class">{{resourceFlight.class}}</span></p>
            <button mat-raised-button color="primary" (click)="bookFlight(resourceFlight)" data-testid="book-flight">$ {{resourceFlight.price}}
                Book flight</button>
        </div>
        <div *ngFor="let resourceFlightReturn of resourceFlightsReturn" class="card matching-flight">
            <div class="flex-container">
                <div *ngFor="let flight of resourceFlightReturn" class="width-50">
                    <h2><span data-testid="flight-departure">{{flight.departure.name}}</span> -> <span data-testid="flight-destination">{{flight.destination.name}}</span></h2>
                    <h3><span data-testid="flight-departure-time">{{ flight.departureTime | date: 'yyyy-MM-dd, h:mm a' }}</span> ->
                        <span data-testid="flight-arrival-time">{{ flight.arrivalTime | date: 'yyyy-MM-dd, h:mm a' }}</span></h3>
                    <p>Travelling time <span data-ctestid="flight-travel-time">{{flight.duration}}</span></p>
                    <p data-testid="flight-travel-class">{{flight.class}}</p>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="bookFlight(resourceFlightReturn)" data-testid="book-flight">
                $ {{getReturnFlightPrice(resourceFlightReturn)}} Book flight
            </button>
        </div>
        <div *ngIf="successfulBook">
            <h1>You're all set!</h1>
            <div class="card" *ngIf="!isSuccessBookArray()">
                <h2><span data-testid="confirmed-flight-departure">{{successfulBook?.departure.name}}</span> -> <span data-testid="confirmed-flight-destination">{{successfulBook?.destination.name}}</span></h2>
                <h3><span data-testid="confirmed-flight-departure-time">{{ successfulBook?.departureTime | date: 'yyyy-MM-dd, h:mm a' }}</span> ->
                    <span data-testid="confirmed-flight-arrival-time">{{ successfulBook?.arrivalTime | date: 'yyyy-MM-dd, h:mm a' }}</span></h3>
                <p>Travelling time <span data-testid="confirmed-flight-travel-time">{{successfulBook?.duration}}</span></p>
                <p data-testid="confirmed-flight-travel-class">{{successfulBook?.class}}</p>

            </div>
            <div class="card" *ngIf="isSuccessBookArray()">
                <div class="flex-container">
                    <div *ngFor="let flight of successfulBook" class="width-50">
                        <h2><span data-testid="booked-flight-departure">{{flight.departure.name}}</span> -> <span data-testid="booked-flight-destination">{{flight.destination.name}}</span></h2>
                        <h3><span data-testid="booked-flight-departure-time">{{ flight.departureTime | date: 'yyyy-MM-dd, h:mm a' }}</span> ->
                            <span data-testid="booked-flight-arrival-time">{{ flight.arrivalTime | date: 'yyyy-MM-dd, h:mm a' }}</span></h3>
                        <p>Travelling time <span data-testid="booked-flight-travel-time">{{flight.duration}}</span></p>
                        <p data-testid="booked-flight-travel-class">{{flight.class}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="featured">                                            
        <h2>Featured Destinations</h2>
        <div class="featured-destination">                      
            <img src="image/singapore.png"></img>                    
            <span class="destination-title">Singapore</span>       
            <span class="destination-price">$900</span>
        </div>
        <div class="featured-destination">
            <img src="image/paris.png"></img>                    
            <span class="destination-title">Paris</span>       
            <span class="destination-price">$300</span>
        </div>                
        <div class="featured-destination">
            <img src="image/newyork.png"></img>                    
            <span class="destination-title">New York</span>       
            <span class="destination-price">$600</span>
        </div>                
    </div>    
</block-ui>