<div class="welcome-container">
    <span class="welcome-message">Welcome to Flying High</span>
    <div *ngIf="!isLogin()">
        <a [routerLink]="['/login']">Login</a> to view your account and booking <br>
        OR <a [routerLink]="['/register']">Register</a> to continue
    </div>
    <div *ngIf="isLogin()">
        To <a [routerLink]="['/search']">Search</a> <br>
        To <a [routerLink]="['/bookings']">My Bookings</a> <br>
        To <a [routerLink]="['/users']">My Account</a> <br>
    </div>

    <div id="featured">                                            
        <h2>Featured Destinations</h2>
        <div class="featured-destination">                      
            <img src="image/singapore.png"></img>                    
            <span class="destination-title">Singapore</span>       
            <span class="destination-price">$900</span>
        </div>
        <div class="featured-destination">
            <img src="image/paris.png"></img>                    
            <span class="destination-title">Paris</span>       
            <span class="destination-price">$300</span>
        </div>                
        <div class="featured-destination">
            <img src="image/newyork.png"></img>                    
            <span class="destination-title">New York</span>       
            <span class="destination-price">$600</span>
        </div>                
    </div>    
</div>