<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.serenitybdd" level="WARN"/>
    <logger name="net.thucydides" level="WARN"/>
    <logger name="io.cucumber" level="WARN"/>
    <logger name="io.github.bonigarcia" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>